body {
  background-color: #0a0a0a;
  font-family: "Futura", "Georgia", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  color: #ad8de0;
  font-size: 50px;
}

p {
  color: #ad8de0;
  font-size: 30px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

label {
  color: #ad8de0;
  font-size: 30px;
}

#price {
  text-align: center;
  background-color: #0a0a0a;
  border: #ad8de0;
  color: #ad8de0;
  margin-left: 10px;
  font-family: "Futura", "Georgia", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  width: 125px;
  border-radius: 10px;
}

button {
  margin: 20px;
  background-color: #ad8de0;
  border: none;
  font-size: 40px;
  font-family: "Futura", "Georgia", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  box-shadow: 0px 10px #3c285c;
  cursor: pointer;
}

button:active {
  box-shadow: 0px 5px #3c285c;
  transform: translateY(4px);
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px;
}

.slider {
  width: 75vw;
}
